<form [formGroup]="form">
  <div>
    <input type="checkbox" id="selectall" formControlName="selectall" />
    <label for="selectall"> SelectAll </label>
  </div>

  <ul formGroupName="options">
    <li *ngFor="let movie of movielist">
      <input type="checkbox" [id]="movie" [formControlName]="movie" />
      <label [for]="movie"> {{ movie }} </label>
    </li>
  </ul>
</form>

<button>Clear</button>
<hr />
<h3>Selected Values:</h3>
<ul>
  <li *ngFor="let selected of selectedMovies">
    {{ selected }}
  </li>
</ul>
