<div class="container">
  <div class="subContainer">
    <h2 class="header">Sign In</h2>
    <form [formGroup]="myForm" class="formContainer" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input
          type="text"
          placeholder="Email"
          class="input"
          name="email"
          formControlName="email"
        />
        <!-- <span class="errorMessage">{{ emailErrorMessage }}</span> -->
      </div>
      <div class="form-group">
        <input
          type="password"
          placeholder="Password"
          class="input"
          name="password"
          formControlName="password"
        />
        <!-- <span class="errorMessage">{{ passwordErrorMessage }}</span> -->
      </div>
      <div class="form-group signInOptionContainer">
        <button (click)="submitForm()" class="btn-signIn" type="button">
          Sign In
        </button>
        <div class="flexOptions">
          <label for="" class="flexOptionsLabel">
            <input
              class="inputCheckBox"
              type="checkbox"
              name="checkBox"
              id=""
            />Remember me
          </label>
          <a class="needHelp" href="#">Need help?</a>
        </div>
      </div>

      <div class="signUpOption">
        <span>New to Newflix? </span><a routerLink="/register">Sign up Now</a>
      </div>
      <div class="captchatMessage">
        <span class="loginCaptcha"
          >This page is protected by Google reCAPTCHAT to ensure you're not a
          bot. <a href="#">Learn More</a></span
        >
      </div>
    </form>
  </div>
</div>
