.section4_left{
  width:50%;
  float: left;
}
.section4_right h1{
  color:#fff;
}
.section4_right h3{
  color:#fff;
}

.section4_right{
  width:50%;
  float: right;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-right: 16%;
}

.section4_left img{
  width:30%;
}
