<div class="welcomeBanner">
  <div class="welcomeBanner-contents">
    <div class="welcome-message">
      <h1>Unlimited movies, TV shows, and more coming soon...</h1>
    <p>Subscribe to receive the latest updates</p>
    </div>
    <div class="register-area">
      <input type="email" placeholder="Email address" />
      <button routerLink="/register" class="get_started_btn">Register</button>
    </div>
  </div>
</div>
<div class="content-card">
  <div class="card-message">
    <h1>Download your shows to watch offline.</h1>
    <p>Save your favorites easily and always have something to watch.</p>
  </div>

  <img src="../../assets/images/mobile.jpg" alt="mobile">
</div>

<footer>
footer
</footer>
