<div class="login-page">
  <main>
    <section class="login-section">
      <header>
        <h1 class="login-header">
          Start watching the most popular movies in 2022.
        </h1>
      </header>
      <div class="login-container">
        <header class="title"><h1>Login</h1></header>
        <form action="">
          <div class="field">
            <span class="fa fa-user"></span>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="field">
            <span class="fa fa-lock"></span>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
          </div>
          <div class="login-button-holder">
            <button class="login-button" type="submit">Sign In</button>
          </div>
        </form>
        <div class="login-options">
          <span class="signup-left">New to Akira? </span>
          <a href="" class="signup-text">Sign up now</a>
          .
        </div>
      </div>
    </section>
  </main>

  <footer></footer>
</div>
