<div class="login-page">
  <div class="login-container">
    <header class="title"><h1>Login</h1></header>
    <form action="">
      <div class="field">
        <span class="fa fa-user"></span>
        <input type="text" placeholder="Email Id" required />
      </div>
      <div class="field">
        <span class="fa fa-lock"></span>
        <input type="password" placeholder="Password" />
      </div>
      <button class="login-button" type="submit">Sign In</button>
    </form>
    <div class="login-options">
      <span>New to Akira? </span>
      <a href="" class="sign-up">Sign up now</a>
      .
    </div>
  </div>
</div>
