<main>
  <div>
    <div class="col-xs-6 col-md-2">
      <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." />
        <span class="input-group-btn">
          <button class="btn btn-default btn-go" type="button">Go!</button>
        </span>
      </div> -->

    <div class="col-sm-6 col-md-4">
    <ul class="movie-list">
      <li *ngFor="let movie of movieData" class="movie-card">
      <a href="" routerLink="/movie-card">
      <div class="thumbnail" routerLink="/movies/{{ movie.id }}">
        <div class="movie-card-container">
          <div class="movie-card-HD">HD</div>
          <div class="movie-card-score">{{ movie.vote_average }}</div>
          <div class="movie-card-likes">{{ movie.vote_count }}</div>
          <img
            src="{{ getPosterPath(movie.poster_path) }}"
            alt=""
            class="img-responsive"
            class="img-rounded"
            class="card-image"
            id="{{movie.id}}"
            ng-click ="toggleTrailer()"
            type="button"
            #{{movie.id}}
          />
        </div>
      </div>
        <div class="caption">
          <h3>{{ movie.title }}</h3>
        </div>
      </a>
      </li>
    </ul>
  </div>
</div>
</div>
</main>


<!-- infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="100"
(scrolled)="onScroll()" -->

<!-- <router-outlet></router-outlet> -->

