    <router-outlet></router-outlet>

<ul class="nav nav-pills nav-stacked col-xs-6 col-md-2">
  <li role="presentation" class="sidenav"><a href="#">Home</a></li>
  <li role="presentation" class="sidenav"><a href="#">Popular</a></li>
  <li role="presentation" class="sidenav"><a href="#">Movies</a></li>
  <li role="presentation" class="sidenav"><a href="#">Profile</a></li>
  <li role="presentation" class="sidenav"><a href="#">Setting</a></li>
</ul>



<div class="row"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
  <div class="col-xs-6 col-md-2">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." />
      <span class="input-group-btn">
        <button class="btn btn-default btn-go" type="button">Go!</button>
      </span>
    </div>



    <div class="col-sm-6 col-md-4">
    <ul class="movie-list">
      <li *ngFor="let movie of movieData" class="movie-card"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()">
        <div class="movie-card-container">
          <div class="movie-card-HD">HD</div>
          <div class="movie-card-score">{{ movie.vote_average }}</div>
          <div class="movie-card-likes">{{ movie.vote_count }}</div>
          <img
            src="{{ getPosterPath(movie.poster_path) }}"
            alt=""
            class="img-responsive"
            class="img-rounded"
            class="card-image"
          />
        </div>
        <div class="caption">
          <h3>{{ movie.title }}</h3>
          <!-- <p>{{ movie.overview }}</p> -->
        </div>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="row"
*ngFor="let movie of movieData" class="movie-card"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ getPosterPath(movie.backdrop_path) }}" alt="..." class="img-responsive" class="img-rounded" style="max-height: 300px;">
      <div class="caption">
        <h3>{{ movie.title }}</h3>
        <!-- <p>{{ movie.overview }}</p> -->
      </div>
    </div>
  </div>
</div>


<!--
<div class="item" infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()">
  <li *ngFor="let movie of movieData" class="movie-card" >
  <img
            src="{{ getPosterPath(movie.backdrop_path) }}"
            alt=""
            class="card-image"
          />
  <div class="carousel-caption">
    <h3>...</h3>
    <p>...</p>
  </div>
  </li>
</div> -->






