<div class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-title">
      <h3>Login to your account</h3>
    </div>
    <app-input
      inputType="email"
      label="Email"
      [control]="loginForm.get('email')"
    ></app-input>
    <app-input
      inputType="password"
      label="Password"
      [control]="loginForm.get('password')"
    ></app-input>
    <label class="error-msg" *ngIf="loginForm.errors?.credentials">
      Invalid email or password
    </label>
    <button
      [disabled]="loginForm.invalid"
      [ngClass]="{ 'btn-disabled': loginForm.invalid }"
      class="btn btn-form btn-block"
    >
      Submit
    </button>
  </form>
</div>
