<h1>Choose the plan that’s right for you</h1>

<div class="container">
  <!-- <table>
    <tr>
      <td>Monthly Price</td>
    </tr>
    <hr />
    <tr>
      <td>Video quality</td>
    </tr>
    <hr />
    <tr>
      <td>Resolution</td>
    </tr>
    <hr />
    
  </table> -->
  <table>
    <tr>
      <th>Basic</th>
      <th>Standard</th>
      <th>Premium</th>
    </tr>
    <tr>
      <td>$9.99</td>
      <td>$15.49</td>
      <td>$19.99</td>
    </tr>
    <tr>
      <td>Good</td>
      <td>Better</td>
      <td>Best</td>
    </tr>
    <tr>
      <td>480p</td>
      <td>1080p</td>
      <td>4K+HDR</td>
    </tr>
    <tr>
      <td><a (click)="onClick(user)">NEXT</a></td>
      <td><a (click)="onClick(admin)">NEXT</a></td>
      <td><a (click)="onClick(super)">NEXT</a></td>
    </tr>
  </table>
</div>
