<div class="register-page">
  <main>
    <section class="register-section">
      <header>
        <h1 class="register-header">
          Start watching the most popular
          <span class="register-header-span">movies in 2022.</span>
        </h1>
      </header>
      <div class="register-container">
        <header class="title"><h1>Register</h1></header>
        <!-- error messages -->
        <div *ngIf="!username?.valid && (username?.dirty || username?.touched)">
          <div [hidden]="username?.errors?.['required']">
            Username is required
          </div>
          <div [hidden]="!username?.errors?.['minlength']">
            Min Email Length is 4
          </div>
        </div>
        <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
          <div [hidden]="email?.errors?.['required']">Email is required</div>
          <div [hidden]="!email?.errors?.['minlength']">
            Min Email Length is 8
          </div>
        </div>
        <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
          <div [hidden]="password?.errors?.['required']">
            Password is required
          </div>
          <div [hidden]="!password?.errors?.['minlength']">
            Min Password Length is 4
          </div>
        </div>

        <!--  -->
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <span class="fa fa-user"></span>
            <input
              type="text"
              name="registerUsername"
              id="registerUsername"
              placeholder="Username..."
              maxlength="10"
              formControlName="username"
            />
          </div>

          <div class="field">
            <span class="fa fa-user"></span>
            <input
              type="text"
              name="registerEmail"
              id="registerEmail"
              placeholder="Email..."
              maxlength="20"
              formControlName="email"
            />
          </div>

          <div class="field">
            <span class="fa fa-lock"></span>
            <input
              type="password"
              name="registerPassword"
              id="registerPassword"
              placeholder="Password..."
              maxlength="10"
              formControlName="password"
            />
          </div>

          <div class="register-button-holder">
            <button class="register-button" type="submit">Register</button>
          </div>
        </form>

        <div class="register-options">
          <span class="signin-left">Already have an account? Sign in</span>
          <a routerLink="/login" class="signin-text"> here</a>
          .
        </div>
      </div>
    </section>
  </main>
</div>
