<div class="full__Page">
    <form action="" class="form">
      <header class="header__Register">Register</header>
      <div class="fullname">
        <div>
          <input
            type="text"
            class="fname"
            name="first name"
            placeholder="First Name"
            aria-placeholder="First Name"
            required
          />
        </div>
        <div>
          <input
            type="text"
            class="lname"
            name="last name"
            placeholder="Last Name"
            aria-placeholder="Last Name"
            required
          />
        </div>
      </div>
      <div>
        <input
          type="text"
          class="mobile-number"
          name="mobile number"
          id="phone-number"
          placeholder="Mobile No."
          aria-placeholder="Mobile No."
          required
        />
      </div>
      <div>
        <input
          type="email"
          class="email"
          name="email address"
          placeholder="Email Address"
          aria-placeholder="Email Address"
          required
        />
      </div>
      <div class="passwords">
        <div>
          <input
            type="password"
            class="password"
            name="password"
            placeholder="Password"
            aria-placeholder="Password"
            required
          />
        </div>
        <div>
          <input
            type="password"
            class="confirm password"
            name="confirm password"
            id="confirm-password"
            placeholder="Confirm Password"
            aria-placeholder="Confirm Password"
            required
          />
        </div>
      </div>
      <div class="checkbox">
        <input
          type="checkbox"
          class="clickbox"
          name="agree"
          checked
          aria-checked="mixed"
          required
        />
        <span>I Agree</span>
      </div>
      <div>
        <p class="terms-and-conditions">
          By clicking <span>Register</span> you agree to the
          <a href="#">Terms and Conditions</a> set<br />
          out by this site, including our Cookie Use.
        </p>
      </div>
      <div class="button">
        <button type="submit" class="register">Register</button>
      </div>
    </form>
  </div>
  