<nav>
  <img
    src="../../assets/images/logo.png"
    routerLink="/"
    alt="logo"
    class="logo"
  />
  <div class="username-box" *ngIf="LoginStatus$ | async as LoginStatus">
    <span *ngIf="UserName$ | async as UserName">{{
      UserName | uppercase
    }}</span>
  </div>
  <div *ngIf="!(LoginStatus$ | async) as LoginStatus">
    <button routerLink="/login" *ngIf="LoginStatus" class="loginBtn">
      Sign In
    </button>
  </div>
  <div *ngIf="LoginStatus$ | async as LoginStatus">
    <button class="loginBtn" (click)="onLogout()" *ngIf="LoginStatus">
      Sign Out
    </button>
  </div>
</nav>
