nav{
    position: relative;
    z-index: 2;
}
.logo{
    margin: 2.5rem;
    width: 8rem;
    position: absolute;
    left: 2rem;
}

.loginBtn{
    height: 2.5rem;
    margin: 2.5rem;
    width: 5rem;
    position: absolute;
    right: 2rem;
    font-size: 1rem;
    color: white;
    background-color: red;
}