
<main class="container" *ngIf="movie">
    <div class="movie-image-container">
        <img
            [src]="properImage" 
            alt="{{movie.title}} poster image."
            width="{{posterSize.width}}"
            height="{{posterSize.height}}"
            >
    </div>
    <div class="movie-content">
        <app-movie-tags [movie]="movie"></app-movie-tags>
        <p class="overview">{{movie.overview}}</p>
        <app-genres [movie]="movie"></app-genres>
        <app-cast-and-crew [movie]="movie"></app-cast-and-crew>
    </div>
</main>