body {
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  padding: 0;
  margin: 0;
}

.btn-signUp {
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
}

.card-container {
  padding: 0;
  min-height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(../../assets/image/homepage_background_img.jpg) center/cover no-repeat;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  border-bottom: 8px solid #222;
}

.card-title {
  color: white;
  font-size: 5rem;
}

.card-sub-title {
  font-size: x-large;
  margin-bottom: 10px;
}

.font-effect-3d-float {
  text-shadow: 0 0.06em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0, 0, 0, 0.2),
    0px 0.25em 0.021em rgba(0, 0, 0, 0.1), 0px 0.32em 0.32em rgba(0, 0, 0, 0.1);
}

.font-effect-3d-float,
.nav-btn-signIn,
.btn-signUp {
  font-weight: 600;
}

.hero-text-wrapper {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-block-size: 50%;
}

.btn-signUp,
.nav-btn-signIn {
  background-color: #e11221;
  line-height: normal;
  border-radius: 4px;
  color: #fff;
  white-space: nowrap;
  border: none;
}

@media screen and (max-width: 768px) {
  .card-container {
    min-height: 70vh;
  }

  .card-title {
    font-size: 3rem;
  }

  .card-sub-title {
    font-size: small;
  }
}
