p{
  overflow: hidden;
}
.movies__list__container{
  width: 100vw;
  min-height: max-content;
  position: relative;
}
.movies__list__container > .sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  box-shadow: 0 0 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/**
 * Sidebar content
 */
.sidebar__control--btn{
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.sidebar__control--btn > *{
  text-align: center;
  cursor: pointer;
}

.sidebar__control--btn > *:hover{
  border-top: 6px solid red;
}

.movies__list__container > .content{
  position: relative;
  margin-left: 60px;
}

.movies__list__container > .content > *{
  width: 100%;
}
.movies__list__container > .content > header {
  height: 55vh;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

header > aside.movie__info{
  background-image: linear-gradient(60deg, rgba(28, 28, 28, 0.853), rgb(0, 0, 0), 35%, rgba(255, 255, 255, 0));
  width: 100%;
  padding: 4% 2%;
  height: 100%;
}
header > aside.movie__info > div{
 margin: 2%;
 width: 350px;
}
header > aside.movie__info > div > *{
  margin: 2%;
  width: 100%;
}
.movies__list__container > .content > main {
  overflow: hidden;
  position: relative;
}

ul.movies__list{
  padding:2%;
  white-space:nowrap;
  overflow-x:auto;
  cursor: pointer;
}

li.movie{
  position: relative;
  display:inline-block;
 margin: 1%;
  box-shadow: 0 0 12px rgb(24, 24, 24);
}

li.movie:hover{
  box-shadow: 0 0 42px rgb(40, 40, 40);
  width: 252px;
}

li.movie img{
  height: 80%;
}

li.movie .movie__overview{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding: 2%;
}

.movie__overview{
  color: rgb(122, 122, 122);
}

.movie__basic__stat__info{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.movie__match{
  color: green
}

.movie__streaming__tv{
  background: gray;
}

.movie__year__produced,
.movie__quantity,
.movie__item__category
{
  color: gray;
}

h2.movie__title{
  font-size: 32px;
}

.movie__item__category::before{
  content: "K";
  color: red;
  font-size: 28px;
}

.project__title{
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 20px;
  font-weight: 900;
  color: red;
  font-family: fantasy;
}

.movie__video__trailer{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.785);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__video__trailer iframe{
  position: inherit;
  left: 15%;
  top: 20%;
  width: 70%;
  height: 60%;
  box-shadow: 0 0 123px rgb(91, 0, 0);
}

.close__video{
  position: inherit;
  top: 3%;
  right: 3%;
  cursor: pointer;
  font-size: 25px;
}
.seeYou{
  height:40vh;
  width:40vw;
  background-color: black;
  position:fixed;
  top: 25vh;
  left:30vw;
  z-index: 10000;
  box-shadow: 0 0 12px rgb(24, 24, 24);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.seeYou h1{
  font-size :4rem;
  color: red;
}
.seeYou p{
  font-size :2rem;
  font-style: italic;
  font-family: Georgia,  serif;
  height:3rem;
}

