<ng-container *ngIf="!showMembership; else randomUser">
<section class="movies__list__container" *ngIf="!authData.jwt_token">
  <ng-container *ngIf="movies && movies.length > 0; else emptyList">
    <div class="userRole"> {{authData.role}}</div>
    <div class="movies__list__container">
      <div class="sidebar">
        <div class="sidebar__control--btn flex__wrapper">
          <span (click)="searchTab()">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
          </span>
          <span (click)="onshowMembership()">
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </span>
          <span> <fa-icon [icon]="['fas', 'home']"></fa-icon> </span>
          <span> <fa-icon [icon]="['fas', 'calendar']"></fa-icon> </span>
          <span> <fa-icon [icon]="['fas', 'clapperboard']"></fa-icon> </span>
          <span>{{ authData.username }}</span>
          <span (click)="logOut()"> Logout </span>
          <span> + </span>
        </div>
      </div>
      <section class="content flex__wrapper">
        <div
          *ngIf="selectedMovieVideo && showMovie"
          class="movie__video__trailer"
        >
          <iframe
            [title]="selectedMovieVideo.name"
            [src]="
              sanitize.bypassSecurityTrustResourceUrl(
                'https://www.youtube.com/embed/' + selectedMovieVideo.key
              )
            "
            allowfullscreen
            allow="true"
          >
          </iframe>
          <span class="close__video" (click)="showMovie = false"> X </span>
        </div>
        <header
          *ngIf="searchHidden"
          class="flex__wrapper"
          [style.backgroundImage]="
            'url(https://image.tmdb.org/t/p/original/' +
            bannerMovie.poster_path +
            ')'
          "
        >
          <aside
            [attr.aria-label]="bannerMovie.original_title + ' basics info'"
            class="movie__info"
          >
            <div class="flex__wrapper">
              <span class="movie__item__category">Series</span>
              <h2 class="movie__title">
                {{ bannerMovie.original_title }}
              </h2>
              <div class="movie__basic__stat__info">
                <strong class="movie__match"> 97% Match </strong>
                <span class="movie__year__produced">
                  {{ bannerMovie.release_date | date: "yyyy" }}
                </span>
                <span class="movie__streaming__tv"> TV-MA </span>
                <span class="movie__quantity"> 2 Seasons </span>
                <span class="movie__quality"> HD </span>
                <span class="movie__rating" [title]="bannerMovie.popularity">
                  {{ bannerMovie.popularity }}
                  <fa-icon [icon]="['fas', 'eye']"></fa-icon>
                </span>
              </div>
              <div class="movie__average__vote">
                Average: {{ bannerMovie.vote_average }} vote(s)
              </div>
              <div class="movie__overview">
                <p>
                  {{ bannerMovie.overview }}
                </p>
              </div>
            </div>
          </aside>
        </header>
        <main *ngIf="searchHidden">
          <section class="all_movies">
            <h3>
              Hottest movies
              <strong *ngIf="movies!.length > 0">{{ movies.length }}</strong>
            </h3>
            <ul class="movies__list">
              <li
                (click)="onWatchTrailer(movie.id)"
                [title]="movie.original_title"
                class="movie flex__wrapper"
                *ngFor="let movie of movies"
              >
                <app-movie-card [movie]="movie"> working</app-movie-card>
              </li>
            </ul>
          </section>

            <section class="trending__movies">
              <h3>
                Trending Now
                <strong *ngIf="trending!.length > 0">{{
                  trending.length
                }}</strong>
              </h3>
              <ul class="movies__list">
                <li
                  (click)="onWatchTrailer(movie.id)"
                  [title]="movie.original_title"
                  class="movie flex__wrapper"
                  *ngFor="let movie of trending"
                >
                  <app-movie-card [movie]="movie"> working</app-movie-card>
                </li>
              </ul>
            </section>
          </main>
        
        <section *ngIf="!searchHidden">
          <app-discover-list [apiKey]="apiKey"></app-discover-list>
        </section>
      </section>
      <aside aria-label="Application title" class="project__title">
        <strong>KCBFLEX</strong>
      </aside>
    </div>
    <ng-container *ngIf="seeYou"
    >
    
    <div class="seeYou">
      <h1>KCBFLEX</h1>
      <p>We are sorry you are leaving us!</p>
      <p>Goodbye...</p>
    </div>
    
    
    </ng-container>
  </ng-container>
  <ng-template #emptyList>
    <p class="empty_list">
      <em>Loading....</em>
      <em>Please, try to reload the page</em>
    </p>
  </ng-template>
</section>
<section *ngIf="authData.jwt_token">Session has expired</section>
</ng-container>
<ng-template #randomUser>
    <app-subscription [(userRole)]="currentUserRole" [(showMembership)]="showMembership"></app-subscription>
    {{currentUserRole}}
</ng-template>

