<hr />
<main class="container">
  <header><h2 class="title">Choose the plan that’s right for you</h2></header>
  <section class="vip-plan">
    <div></div>
    <div></div>
    <button class="btn-vip-plan">Basic</button
    ><button class="btn-vip-plan">Standard</button
    ><button class="btn-vip-plan">Premium</button>
    <span class="plan-text"
      >Monthly price
      <hr class="grid-hr" />
    </span>
    <div></div>
    <span class="plan-text">$9.99</span>
    <span class="plan-text">$15.49</span>
    <span class="plan-text">$19.99</span>

    <span class="plan-text">Video quality</span>
    <div></div>
    <span class="plan-text">Good</span>
    <span class="plan-text">Better</span>
    <span class="plan-text">Best</span>

    <span class="plan-text">Resolution</span>
    <div></div>
    <span class="plan-text">480p</span>
    <span class="plan-text">1080p</span>
    <span class="plan-text">4K+HDR</span>

    <span class="plan-text2"
      >Watch on your TV, computer, mobile phone and tablet</span
    >
    <span class="planGrid_booleanLabel">&#10003;</span>
    <span class="planGrid_booleanLabel">&#10003;</span>
    <span class="planGrid_booleanLabel">&#10003;</span>
  </section>
  <div class="btn-container"><button class="btn-next">Next</button></div>
</main>
