<div class="card-container">
  <img
    src="movie-app/src/assets/image/homepage_background_img.jpg"
    alt="Collection of classic movie posters"
  />
  <div class="hero-navbar">
    <div class="nav-logo-wrapper">
      <span class="font-effect-3d-float">NETPLIX</span>
    </div>
    <!-- The data-* attribute is used to store custom data private to the page or application. -->
    <a class="nav-btn-signIn" href="" data-navBtnSignIn="SignIn">Sign In</a>
  </div>
  <section class="hero-text">
    <div class="card-text">
      <h1 class="card-title font-effect-3d-float">
        Life is Movie, Movie is Life
      </h1>
      <h2 class="card-sub-title">Hi Our VIP! Let explore the moive world!</h2>
      <button id="home-signUp" class="btn-signUp">Join Us Now</button>
    </div>
  </section>
</div>
