<picture>
    <source media="(max-width: 342px)" [srcset]="getPosterSize(posterSizes[0])">
    <source media="(min-width: 343px) and (max-width: 649px)" [srcset]="getPosterSize(posterSizes[1])">
    <source media="(min-width: 650px) and (max-width: 1000px)" [srcset]="getPosterSize(posterSizes[2])">
    <source media="(min-width: 1000px)" [srcset]="getPosterSize(posterSizes[3])">
    <img
        loading="lazy"
        alt="{{actor.name}} portrait photo."
        [src]="getPosterSize(posterSizes[0])"
        width="20vw"
    >
</picture>
