<section class="container">
  <h1 class="netflix_title">
    KCBFLEX
  </h1>
  <section class="--sign__in__container">
        <h2 class="sign__in__title">
          Sign In
        </h2>
        <form
          class="sign__in--form"
          [formGroup]="signInForm"
          (ngSubmit)="onLogin($event)">
          <label for="email_or_phone_number">
            <input
            formControlName="email"
              #email
              type="text"
              id="email_or_phone_number"
              name="email_or_phone_number"
              placeholder="Email or phone"
              required>
            <em *ngIf="showErrorMess" class="error">
                Something went wrong with the email
            </em>
          </label>
            <label for="password" class="space__between">
              <input
                [type]="isHidden ? 'password':'text'"
                name="password"
                id="password"
                placeholder="Password"
                #password
                formControlName="password">
              <span (click)="showPassword()" class="show__password">
                <ng-container *ngIf="isHidden; else hidePassword">
                 Show
                </ng-container>
                <ng-template #hidePassword>
                  Hide
                </ng-template>
              </span>
              <em *ngIf="showErrorMess" class="error">
                There's Something wrong with the password
              </em>
            </label>

          <input
            type="submit"
            value="Sign In"
            name="sign__in--btn"
            id="sign__in"
            >

          <label for="remember_me" class="space__between">
            <input
              type="checkbox"
              name="remember_me"
              id="remember_me"
              >
            <span>
              Need help?
            </span>
          </label>
        </form>
        <footer>
          <div>
            <p>
              <span>New to Netflix?</span>
              <a [routerLink]="['/register']">
                Sign Up Now
              </a>
            </p>
            <p>
              This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
            </p>
          </div>
        </footer>
  </section>
</section>
