<section class="container">
  <h1 class="netflix_title">
    KCBFLEX
  </h1>
  <section class="--sign__in__container">
        <h2 class="sign__in__title">
          Sign In
        </h2>
        <form
          class="sign__in--form"
          [formGroup]="signInForm"
          (ngSubmit)="onLogin($event)">
          <label for="email_or_phone_number">
            <input
            formControlName="email"
              type="text"
              id="email_or_phone_number"
              name="email_or_phone_number"
              placeholder="Email or phone"
              required>
              <em
              class="error"
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            >
              <div *ngIf="email?.errors?.['required']">Email is required.</div>
              <div *ngIf="email?.errors?.['email']">
                Email must be a valid email address
              </div>
            </em>
          </label>
            <label for="password" class="space__between">
              <input
                [type]="isHidden ? 'password':'text'"
                name="password"
                id="password"
                placeholder="Password"
                formControlName="password">
              <span (click)="showPassword()" class="show__password">
                <ng-container *ngIf="isHidden; else hidePassword">
                 Show
                </ng-container>
                <ng-template #hidePassword>
                  Hide
                </ng-template>
              </span>
              <em
              class="error"
              *ngIf="password?.invalid && (password?.dirty || password?.touched)"
            >
              <div *ngIf="password?.errors?.['required']">Password is required.</div>
              
            </em>
            </label>

          <input
            type="submit"
            value="Sign In"
            name="sign__in--btn"
            id="sign__in"
            >
            <div  *ngIf="signInClicked">
              <em class="errorMsg" *ngIf="signInForm?.invalid">
                Please fill required details
              </em>
              <em class="errorMsg" *ngIf="signInForm?.valid&&!validSingIn">
                Please check your email adress or password, and try again
              </em>

            </div>
          
        </form>
        <footer>
          <div>
            <p>
              <span>New to KCBFLEX?</span>
              <a (click)=" navigateToRegister()">
                Sign Up Now
              </a>
            </p>
            <p>
              This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
            </p>
          </div>
        </footer>
  </section>
</section>
