


<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        
        <img *ngIf="movie?.poster_path" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
[alt]="movie.title" class="front_img">
<h1 class="front-title">{{ movie?.title |makeShort}}</h1> 
<p class="year front_year"><span>{{movie?.release_date | date: 'yyyy'}}</span>
      </div>
      <div class="flip-card-back">
        <div class="img-container">
            <img *ngIf="movie?.poster_path" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}"
            [alt]="movie.title" class="back_img">
        </div>
        
        <h1 class="title_back">{{ movie?.title }}</h1> 
        <p class="year year_back"><span>{{movie?.release_date | date: 'yyyy'}}</span></p>
        <img src="../../assets/playIcon.png" alt="play_icon" class="play_icon">
        <p class="rate"> Rated:<span>{{movie?.vote_average |number :'1.0-1'}}</span> /10</p>
        
        
      </div>
    </div>
  </div>