<div class="login-body">
  <div class="login-wrapper">
    <div class="login-form-main">
      <h4>Sign In</h4>
      <form class="login-form" [formGroup]="signinForm" (ngSubmit)="loginUser()">
        <input type="text" name="loginId" formControlName="username" />
        <input type="text" name="password" formControlName="password" />
        <button type="submit">Sign In</button>
        </form>
        <div class="login-form-help">
          <div class="login-remember-me">
            <input type="checkbox" id="rememberMe" />
            <label for="rememberMe">Remember Me</label>
          </div>
          <a href="/forgot-password">Forgot password?</a>
        </div>
      
    </div>

    <div class="login-form-others">
      <div class="login-form-sign-up">
        <a class="link-sign-up" href="/register">Sign up now</a>.
      </div>
    </div>
  </div>
</div>