<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      (click)="collapsed = !collapsed"
    >
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
    </button>
    <a routerLink="/" class="navbar-brand">Akira Movies</a>
  </div>
  <div
    class="navbar-collapse"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li *ngIf="isLoggedOff()"><a routerLink="/login" class="Login" [ngStyle]="{'color': 'rgb(118, 158, 223)'}">Login</a></li>
        <li *ngIf="isLoggedOff()"><a routerLink="/register" class="Register" [ngStyle]="{'color': 'rgb(118, 158, 223)'}">Register</a></li>
        <li *ngIf="!isLoggedOff()">
          <a routerLink="/user-update"
            class="user-update"
            [ngStyle]="{'color': 'rgb(118, 158, 223)'}">{{ userInfo.username }} ({{ userInfo.role }})</a
          >
        </li>

        <li *ngIf="!isLoggedOff()">
          <a [routerLink]="['/']"
          class="user-logout"
          [ngStyle]="{'color': 'rgba(219, 111, 254, 0.902)'}"
          (click)="logout()"
          >Logout</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right"></ul>
    </div>
  </div>
</nav>
