<nav class="hero-navbar">
  <div class="nav-logo-wrapper">
    <span class="font-effect-3d-float" (click)="onLogoClick()">NETPLIX</span>
  </div>
  <ng-container *ngIf="!isSignedIn">
    <button class="nav-btn-signIn" *ngIf="renderBtn" (click)="onButtonClick()">
      {{ this.currBtnOn }}
    </button>
  </ng-container>
  <ng-container *ngIf="isSignedIn">
    <span class="user">{{ userinfo.username.toUpperCase() }}</span>
    <button (click)="onSignout()" class="nav-btn-signIn">Sign out</button>
  </ng-container>
</nav>
