/* Add application styles & imports to this file! */

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 84vh;
  opacity: 1;
  background-image: url('./assets/header_background.jpg');
  border-bottom: 22px solid #8a8787;
}
main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 150vh;
  background-color: aliceblue;
  opacity: 1;
  border-bottom: 22px solid #8a8787;
}

.section{
  background-color: rgb(0, 0, 0);
  width: 100%;
  min-height:20%;
  border-bottom: 1px solid #f8f8f8;
  text-align: center;
  justify-content: center;
}



.shadow {
  -moz-box-shadow:    inset 30 20 30px #000000;
  -webkit-box-shadow: inset 30 20 30px #861a1a;
  box-shadow:         inset 30 20 30px #000000;
}

