<div class="content">
  <h1>Unlimited movies, TV shows, and more.</h1>
  <h3>Watch anywhere. Cancel anytime.</h3>
  <ng-container *ngIf="displayFields">
    <h6>Ready to watch? Enter your email to create or restart your membership.</h6>
    <form>
      <input [formControl]="email" type="email" placeholder="Enter Email Here"
        [ngClass]="Emailvalidation==true? 'validEmail':'nonvalidEmail'">
      <button (click)="register()" type="button">Get Started ></button>
    </form>
  </ng-container>
</div>
