:host {
  height: 700px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.15;
  margin-top: 10%;
}

.content h1 {
  font-size: 50px;
  width: 70%;
}

.content h3 {
  padding-bottom: 2rem;
}

.content h6 {
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 10px;
}

form {
  display: inline-flex;
}

input {
  border: 1px gray solid;
  height: 58.5px;
  padding-left: 10px;
  width: 440px;
}

input::placeholder {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

button {
  background-color: #E30713;
  border: none;
  border-radius: 1px;
  font-size: 25px;
  color: #f8f8f8;
  /* font-weight: lighter; */
  height: 60px;
  letter-spacing: .8px;
  padding: 0 8px;
  width: 200px;
  text-align: center;
}

/* .validEmail{border-color: #f6f6f6;} */
.nonvalidEmail {
  border-color: red;
}

@media screen and (max-width: 767px) {
  button {
    border-radius: 3px;
    font-size: 16px;
    height: 40px;
    width: 120px;
  }

  .content h1 {
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 15px;
    width: 95%;
  }

  .content h3 {
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 2.5rem;
  }

  .content h6 {
    display: none;
    font-size: 18px;
    width: 80%;
    padding-bottom: 30px;
  }

  :host {
    height: 400px;
  }

  input {
    height: 45px;
    margin-bottom: 20px;
  }

  form {
    flex-direction: column;
    align-items: center;
  }
}