ul {
    display: flex;
    overflow: auto;
    list-style: none;
    width: 95vw;
}

img {
    width: 95vw;
    height: auto;
}

@media (min-width: 650px) {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        width: 90vw;
        overflow: auto;
        gap: 2vw;
    }

    li {
        width: 45%;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: .5em;
    }
}

@media (min-width: 1024px) {
    li {
        width: 30%;
    }
}