

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 90vw;
    overflow: auto;
    gap: 2vw;
}

li{
    width: 30%;
}

img{
    width: 100%;
    height: auto;
    border-radius: .5em;
}