<header class="shadow">
  <app-header></app-header>
</header>
<main>
  <div *ngFor="let Movie of $any(Movies['results']| slice:0:5); let i = index">
    <article>
      <div class="left">
        <h2>{{info[i].h}}</h2>
        <h4>{{info[i].p}}</h4>
      </div>
        <img
          *ngIf="Movie.backdrop_path"
          src="https://image.tmdb.org/t/p/w500{{ Movie.backdrop_path }}"
        />
    </article>
    <!-- <hr>
    <hr /> -->
  </div>
</main>
<!-- <footer> -->
  <app-footer></app-footer>
<!-- </footer> -->
