

main {
  
  div:nth-of-type(even) {
    article {
      flex-flow: row-reverse;
    }
  }
  
  div {
    article {
      align-items: center;
      background: black;
      border-top: 10px solid rgb(34, 34, 34);
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 100px 100px;
      }

      h2 {
        font-size: 45px;
        font-weight: bolder;
        padding-bottom: 10px;
      }

      img {
        box-shadow: 10px 1px 50px 1px rgb(250 250 250 / 45%);
        width: 400px;
      }

      .left {
        width: 50%;
      }
    }
  }

  @media screen and (max-width: 1100px) and (min-width: 950px) {
    main {
      div {
        article {
          padding: 100px 50px;
        }
        img {
          width: 40%;
        }
      }
    }
  }

  @media screen and (max-width: 950px) {
    main {
      div:nth-of-type(even) {
          article {
            flex-flow: column;
          }
        }
      div {
        article {
          flex-direction: column;
          height: 450px;
          justify-content: space-around;
          padding: 100px 40px;
          img {
            border: none;
            width: 450px;
          }
          h2 {
            font-size: 40px;
            font-weight: 600;
          }
          h4 {
            font-size: 20px;
            font-weight: lighter;
          }
          .left {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    main {
      div {
        article {
          justify-content: space-evenly;
          padding: 30px 20px;
          img {
            width: 350px;
          }
          .left {
            height: 100px;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 450px;
            h2 {
              font-weight: 300;
              font-size: 28px;
            }
            h4 {
              font-size: 17px;
              line-height: 1.5rem;
              font-weight: lighter;
            }
          }
        }
      }
    }
  }