<header class="shadow">
  <app-header></app-header>
</header>
<main>
  <h1>Top Movies on Theater</h1>
  <div *ngFor="let Movie of Movies['results']; let i = index">
    <img
      *ngIf="Movie.backdrop_path"
      src="https://image.tmdb.org/t/p/w500{{ Movie.backdrop_path }}"
    />
    <h2>Voting:{{ Movie.title }}</h2>
    <h4>Overview:{{ Movie.overview }}</h4>
    <h5>Release Date:{{ Movie.release_date }}</h5>
    <h6>Voting:{{ Movie.vote_average }}</h6>
    <h6>Vote Count:{{ Movie.vote_count }}</h6>
    <hr />
  </div>
</main>
<footer>
  <app-footer></app-footer>
</footer>
