
<main
    *ngFor="let marketing of marketingData"
    [ngStyle]="marketing.id % 2 === 0 ? {flexDirection: 'row'} : {flexDirection: 'row-reverse'}"
    >
    <section class="description">
        <header>{{marketing.header}}</header>
        <p>{{marketing.description}}</p>
    </section>
    <img 
        loading="lazy"
        [src]="marketing.image"
        [width]="marketing.imageWidth"
        [height]="marketing.imageHeight"
        alt="Marketing image"
    >
</main>


<!-- <div class="host" [innerHTML]="generateHTML()"></div> -->
