@import url(https://fonts.googleapis.com/css?family=Roboto:100,regular,italic,500,700);
.backgroundImage{
    background-image: url("./../images/netflix_background_movies_thumbnail.jpeg");
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  height:100vh;
  width:100vw;
}
.form-group{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif
    
}
form{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:3rem;
   
}
.container{
    display:flex;
    flex-direction:column;
    gap:1rem;
    
   
}
.logo{
    color: red;
    font-size: 3rem;
    position:absolute;
    top: 2rem;
    font-family: 'Roboto', sans-serif;
    left: 2rem;
    

}
input{
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    padding: 16px 20px 0 20px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #444444;
    color: #ffffff;
}

.floating-label {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    font-size: 18px;
    cursor: text;
    color: #8c8c8c;
   }

   input:focus ~ .floating-label,
input:valid ~ .floating-label {
 font-size: 11px;
 top: 7px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: aliceblue;
    opacity: 0.5; /* Firefox */
    font-size:1rem
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: aliceblue;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: aliceblue;}

#sign_up{
    font-size:2rem;
    margin-bottom:1rem
}

.registerbtn{
    width: 100%;
    height: 50px;
    margin-top: 24px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #e50914;
}
a{
   text-decoration:none;
   color:purple;
   cursor: pointer;
}

.errorMsg{
    color: #e50914;
    font-size: 0.9rem;
    width: 25rem;
    
}