<p class="logo">KCB Movies</p>
<div class="form-group">
  <form>
    <div class="container">
      <h1 id="sign_up">Sign Up</h1>

      <input type="text" placeholder="Email" name="email" id="email" required />

      <input
        type="password"
        placeholder="Password"
        name="psw"
        id="psw"
        required
      />

      <input
        type="password"
        placeholder="Repeat Password"
        name="psw-repeat"
        id="psw-repeat"
        required
      />
      <br/>

      <p>
        By creating an account you agree to our <a href="#">Terms & Privacy</a>.
      </p>
      <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
      <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>
  </form>
</div>
