<!-- <div class="footer" [ngClass]="isHome?'homeclass':''"> -->
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <!-- <div class="container my-5" [ngClass]="isHome?'homeclass':''"> -->
    <!-- Footer -->
    <!-- <footer class="text-center text-secondary" style="background-color: #000000"> -->
      <!-- Grid container -->
      <div class="footer-div" [ngClass]="isHome?'homeclass':''">
        <!-- Section: Links -->
        <section class="mt-5" [ngClass]="isHome?'homeclass':''">
          <!-- Grid row-->
          <div class="text-center d-flex flex-sm-row flex-column justify-content-center align-items-center pt-4">
            <!-- Grid column -->
            <div class="col-sm-2 col-2">
              <h6 class="text-uppercase">
                <a href="#!" class="text-secondary">About us</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-2 col-2">
              <h6 class="text-uppercase">
                <a href="#!" class="text-secondary">Products</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-2 col-2">
              <h6 class="text-uppercase">
                <a href="#!" class="text-secondary">Awards</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-1 col-2">
              <h6 class="text-uppercase">
                <a href="#!" class="text-secondary">Help</a>
              </h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-sm-2 col-2">
              <h6 class="text-uppercase">
                <a href="#!" class="text-secondary">Contact</a>
              </h6>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-5" />

        <!-- Section: Text -->
        <section class="mb-5" [ngClass]="isHome?'homeclass':''">
          <div class="d-flex justify-content-center" [ngClass]="isHome?'homeclass':''">
            <div class="col-lg-8" style="color: gray" [ngClass]="isHome?'homeclass':''">
              <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->

        <!-- Section: Social -->
        <section class="text-center mb-5" [ngClass]="isHome?'homeclass':''">
          <a href="" class="text-secondary me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-secondary me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-secondary me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-secondary me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-secondary me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-secondary me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
      
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3">
      </div>
      <!-- Copyright -->
    
    <!-- Footer -->
  <!-- End of .container -->
  
