<div class="form-row">
  <div *ngIf="label !== 'rememberMe'">
    <input
      [placeholder]="label"
      [type]="label"
      class="form-input"
      [formControl]="control"
      [ngClass]="{ 'is-danger': showErrors() }"
    />
  </div>
  <div class="checkbox-container" *ngIf="label === 'rememberMe'">
    <input id="remember-me-label" type="checkbox" />
    <label for="remember-me-label">Remember me</label>
  </div>
  <ng-container *ngIf="control.dirty && control.errors && control.touched">
    <small class="form-alert" *ngIf="control.errors?.['required']"
      >{{ label }} is required</small
    >
    <small
      class="form-alert"
      *ngIf="
        !control.errors?.['required'] && control.invalid
      "
    >
      Enter valid {{ label }}
    </small>
  </ng-container>
</div>
