
.link{
  border-top: 2px solid #f8f8f8;
  width:80%;
  margin-left: 10%;
  justify-content: center;
  margin-top: 15px;
}
.link input{
  width:50%;
  height:40px;
  border-radius: 2px;
  text-align:left;
}
.link input::placeholder{
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.link button
{
  width:50%;
  height:40px;
  color:#f8f8f8;
  background-color: red;
  word-spacing: .1em;
  margin-top: -6px;
}
