<header class="shadow" style="height:80vh">
  <app-header></app-header>
</header>
<main>
  <div class="input_container">
    <form [formGroup]="SearchForm">
      <label for="query">Select Your Movie To search:</label>
      <input #search type="text" formControlName="search" (keyup)="changeOtherControls()">
      <br>
      <label for="upcoming">Upcoming</label><input type="checkbox" name="upcoming" formControlName="upcoming" (change)="selectUpcoming()">
      <label for="nowplaying">Now Playing</label><input type="checkbox" name="nowplaying" formControlName="nowplaying" (change)="selectNowPlaying()">
    </form>
  </div>
  <div
  infinite-scroll
  [infiniteScrollDistance]="6"
  [infiniteScrollThrottle]="1750"
  (scrolled)="onScroll()"
>
  <mat-card *ngFor="let Movie of Movies let i=index" class="container" (click)="getInfo(Movie.id)">
    <mat-card-header>
      <div>
        <mat-card-title>{{Movie.title}}</mat-card-title>
        <mat-card-subtitle>Release Date:{{Movie.release_date}}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
    <img *ngIf="Movie.backdrop_path" src="https://image.tmdb.org/t/p/w500{{Movie.backdrop_path}}">
    <h4>Overview:{{Movie.overview}}</h4>
    <h6>{{Movie.vote_average}}</h6>
    <h6>Vote Count:{{Movie.vote_count}}</h6>
    <hr>
</mat-card-content>
</mat-card>
</div>
</main>
<footer>
  <app-footer></app-footer>
</footer>

