/* You can add global styles to this file, and also import other style files */
:root{
    --theme-color-accent: blue;
    --color-font-button: white;
}
@font-face {
    font-family: Rajdhani-Bold;
    src: url(assets/Rajdhani/Rajdhani-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: Rajdhani-Medium;
    src: url(assets/Rajdhani/Rajdhani-Medium.ttf);
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    font-family: Rajdhani-Bold;
    scroll-behavior: smooth;
    user-select: none;
}

button:hover{
    cursor: pointer;
}
