main {
  text-align: left;
  display: flex;
  padding-inline: 2.5rem;
  margin-top: 10rem;
  width: 100%;
}
.homepage-container {
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
    url("../../images/netflixBg.jpg");
  min-height: 100vh;
  color: white;
}
