.login-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.5px;
  background: url("../../../../assets/red_curtain.png");
  color: black;
}

.login-container {
  background-color: white;
  padding: 20px;
  margin: 40px;
  box-sizing: border-box;
  width: 400px;
}

.mat-form-field {
  width: 100%;
  margin-top: 25px;
}

.mat-form-field-infix {
  padding: 0;
}

.mat-form-field input {
  width: 200px;
  height: 55px;
}

.mat-error {
  font-size: 15px;
}

.input-container {
  height: 50%;
  width: 100%;
  text-align: left;
}

.loginPwd,
.pwdBtn {
  display: inline-block;
}

.pwdBtn {
  font-weight: bold;
  color: white;
  background-color: transparent;
  margin-bottom: 5px;
}

app-header-top >>> .header-top {
  background-color: transparent;
  border-bottom: 0.5px solid lightgray;
}

app-footer >>> div,
app-footer >>> footer {
  background-color: #f3f3f3 !important;
  border-top: none!important;
}

app-footer >>> .my-5 {
  margin-top: 0!important;
  padding-top: 50px;
}

.mt-top {
  margin-top: 30px;
}

.mt-top button {
  width: 100%;
  background-color: rgb(161, 20, 20);
}

.mt-top button:disabled {
  background-color: #cccccc;
  color: #666666;
}
