@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.left{
  width:50%;
  float:left;
  justify-content: center;
  padding-top: 20px;
}

.left h1{
  color:#f8f8f8;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  text-align: center;
}
