*{
    color: white;
}

.container{
    position: relative;
    top: -4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    gap: 2vh;
}
header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 4em;
    font-weight: bolder;
    color: white;
    z-index: 2;
}
img{
    width: 100%;
    /* opacity: 0.7; */
}

div.shadow-fade{
    position: relative;
    width: 100vw;
    height: 6vh;
    box-shadow: 0 -4vh 24px black;
    
}

button{
    z-index: 5;
    padding: 1vh;
    font-size: 20pt;
    color: white;
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    margin-bottom: 2vh;
    /* background-image: 'assets/icons8-scroll-down-48.png'; */
}