<picture>
    <source media="(min-width: 92px)  and (max-width: 153px)" [srcset]="getPosterSize(posterSizes[0])">
    <source media="(min-width: 154px) and (max-width: 184px)" [srcset]="getPosterSize(posterSizes[1])">
    <source media="(min-width: 185px) and (max-width: 341px)" [srcset]="getPosterSize(posterSizes[2])">
    <source media="(min-width: 342px) and (max-width: 480px)" [srcset]="getPosterSize(posterSizes[3])">
    <source media="(min-width: 481px) and (max-width: 649px)" [srcset]="getPosterSize(posterSizes[4])">
    <source media="(min-width: 650px) and (max-width: 1000px)" [srcset]="getBackdropSize(backdropSizes[1])">
    <source media="(min-width: 1001px)" [srcset]="getOriginalBackdrop()">
    <img
        [src]="getPosterSize(posterSizes[0])"
        [width]="posterSizes[0]"
        height="231"
        alt="{{movie.title}} poster image."
    >
</picture>
