<p>sidebar works!</p>
<!-- <p>
  You should use <code>class="nav-pills"</code> if you need pills and the <code>[orientation]</code> input
  to change nav orientation
</p> -->

<div class="d-flex">
  <ul ngbNav #nav="ngbNav"  class="nav-pills" orientation="vertical">
    <li ngbNavItem="Home" >
      <a  ngbNavLink>Home</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li ngbNavItem="Popular">
      <a ngbNavLink>Popular</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li ngbNavItem="Movies">
      <a ngbNavLink>Movies</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
    <li ngbNavItem="Profile">
      <a ngbNavLink>Profile</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>

<!-- <pre>Active: {{ active }}</pre> -->
