.basicLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 0;
}
.form-container {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
    width: 100%;
    padding-bottom: 95px;
    flex-grow: 1;
    position: relative;
    padding-top: 7rem;
}
.center-container {
    box-sizing: border-box;
    margin: 0 auto 15px;
    max-width: 978px;
    padding: 20px 3% 60px;
    display: block;
    overflow: hidden;
}
.basicLayout .center-container {
    --layout-container-side-padding: 32px;
    padding: 20px 32px 60px;
    padding: 20px var(--layout-container-side-padding) 60px;
}
.regFormContainer {
    margin: 0 auto;
    max-width: 440px;
    text-align: left;
}

.regFormContainer .stepHeader {
    margin-top: 20px;
}

.stepHeader {
    display: inline-block;
}

div.basicLayout .stepIndicator {
    font-size: 13px;
    text-align: inherit;
}

.stepIndicator {
    display: block;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
}
.stepTitle {
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
}

.contextRow {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.basicLayout.hasLargeTypography .paymentContainer .contextRow+.contextRow, div.basicLayout.hasLargeTypography .regFormContainer .contextRow+.contextRow {
    font-size: 18px;
    margin-top: 10px;
}

.regFormContainer .simpleForm {
    margin: 16px 0 20px;
}

ul.structural {
    margin: 0;
    padding: 0;
}

.ui-grid {
    box-sizing: border-box;
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.nfFormSpace {
    margin-bottom: 10px;
}

.nfInput, .nfInput .nfInputPlacement {
    position: relative;
}

.nfInput {
    max-width: 500px;
}

.nfInput, .nfInput .nfInputPlacement {
    position: relative;
}

.nfInput.nfInputOversize .nfTextField {
    height: 60px;
}

.nfInput .nfTextField {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}

.nfTextField:invalid, .nfTextField:valid {
    box-shadow: none;
}

.nfTextField {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-size: 16px;
    height: 44px;
    padding: 10px 11px;
    width: 100%;
}

input {
    line-height: normal;
}

.nfInput .placeLabel {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease,top .1s ease,transform .1s ease;
}

.simpleContainer .submitBtnContainer {
    margin-top: 24px;
}

.submitBtnContainer {
    margin: 0 auto;
    max-width: 440px;
    text-align: center;
}

.basicLayout.hasLargeTypography button.modal-action-button, .basicLayout.hasLargeTypography button.nf-btn-primary {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 500;
    min-height: 64px;
}
.basicLayout .nf-btn-primary, .basicLayout .nf-btn-secondary {
    border-radius: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    min-height: 48px;
}
.nf-btn.nf-btn-oversize {
    font-size: 19px;
    line-height: 19px;
    min-height: 60px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
}

.nf-btn-solid.nf-btn-primary, .nf-btn-twotone.nf-btn-primary {
    background-color: #e50914;
    color: #fff;
}

.nf-btn {
    font-size: 1rem;
    min-height: 48px;
    min-width: 74px;
    padding: 23.5px 2em;
    position: relative;
    width: 100%;
}

.nf-btn {
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 25%);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: .025rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
}

button, select {
    text-transform: none;
}

.site-footer-wrapper {
    background-color: #f3f3f3;
    margin-top: 0;
    opacity: 1;
}

.site-footer-wrapper {
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer-divider {
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
}
.site-footer {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}

.site-footer-wrapper {
    color: #737373;
    font-size: 1em;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer-top {
    margin: 0 0 30px;
    padding: 0;
}

.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

ul.structural {
    margin: 0;
    padding: 0;
}

.footer-top-a {
    color: #737373;
}

.footer-links {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.footer-link-item {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
}

.footer-link {
    color: #737373;
}

.nfLabel {
    color: #333;
    font-size: 16px;
}
