.outer {
    background: #000000;
    padding: 0;
    margin: 0;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    min-height: 100vh;
    padding-top: 7rem;
}
.container {
    padding-bottom: 3rem;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    /* padding-top: 7rem; */
    /* max-height: 80vh; */
}

.columns.is-multiline {
    flex-wrap: wrap;
}

.columns:not(:last-child) {
    margin-bottom: calc(1.5rem - .75rem);
}

.last {
    /* margin-top: 6.5rem; */
}

.pt-6 {
    padding-top: 3rem !important;
}

.p-0 {
    padding: 0 !important;
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.column {
    /* display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem; */
    padding: .75rem;
}

img {
    /* -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4)); */
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.columns:last-child {
    margin-bottom: -.75rem;
}


img {
    height: auto;
    max-width: 100%;
}

img,
video {
    height: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .column.is-one-quarter img {
        width: 100%;
        margin-bottom: 7rem;
    }
}

@media screen and (min-width: 769px),
print {
    .columns:not(.is-desktop) {
        display: flex;
    }

    .column.is-full,
    .column.is-full-tablet {
        flex: none;
        width: 100%;
    }

    .column.is-one-quarter,
    .column.is-one-quarter-tablet {
        /* flex: none; */
        width: 25%;
    }
}
@media screen and (min-width: 1024px){

    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1216px){

    .container:not(.is-max-desktop) {
        max-width: 1152px;
    }
}

 /***********************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

.image {
    position: relative;
    max-width: 300px;
  }
  .image__img {
    display: block;
    width: 100%;
  }
  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.45s;
  }
  
  .image__overlay:hover {
    opacity: 1;
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    transition: 0.2s;
  }
  
  .image__title {
    font-size: 1.7em;
    font-weight: bold;
  }
  
  .image__description {
    font-size: 1.1em;
    margin-top: 0.25em;
  }
  
  .image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  
  .image__overlay:hover > * {
    transform: translateY(0);
  }
  
  .image__overlay--blur {
    backdrop-filter: blur(5px);
  }
  .image__overlay--primary {
    background: #009578;
  }
