<div class="outer" >

    <div class="container">
        <div class="columns is-multiline p-0 pt-6 last" >
            
            <div *ngFor="let movie of movies" class="column is-one-quarter" >
                <div class="image" >
                    <img class="img image__img" src="https://image.tmdb.org/t/p/w500{{movie.image}}" alt="">
                    
                    <div class="image__overlay image__overlay--blur">
                        <div class="image__title">{{movie.title}}</div>
                        <p class="image__description">
                            {{movie.description | trimString}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
