<!-- <app-track-by></app-track-by> -->

<ul>
  <li>
    <a [routerLink]="['hello']">Hello</a>
  </li>
  <li>
    <a [routerLink]="['eager']">Eager</a>
  </li>
  <li>
    <a [routerLink]="['lazy']">Lazy</a>
  </li>
</ul>

App Works! {{ randomApp }} {{ randomEager }} {{ randomLazy }}
<br />
<router-outlet></router-outlet>
<!-- <input #inputbox (keyup)="changeData(inputbox.value)" />
{{ todolist[0] | json }}
<app-child *ngFor="let todo of todolist" [todo]="todo"></app-child>
<button (click)="changeFirst()">Change</button> -->
