<div>
  <button [routerLink]="['home']">home</button>
  <button [routerLink]="['contact']">contact</button>
  <button [routerLink]="['product']">product</button>

  <button [routerLink]="['product-param']" [queryParams]="{ pageNum, name }">
    product-param
  </button>
</div>
<div
  class="container"
  [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''"
>
  <!-- <div class="container"> -->
  <router-outlet #o="outlet"></router-outlet>
</div>

<!-- <hr />
<div class="secondary nav">
  <h1>Secondary router</h1>
  <button [routerLink]="[{ outlets: { secondary: ['user'] } }]">user</button>
  <button [routerLink]="[{ outlets: { secondary: ['superuser'] } }]">
    superuser
  </button>
</div>

<hr />
<div class="secondary_router">
  <h3>secondaryoutlet</h3>
  <router-outlet name="secondary"></router-outlet>
</div> -->
