.register-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: .5px;
  position: relative;
  padding: 0 0 0 20px;
}

.modal {
  display: none;
  visibility: hidden;
  width: 33%;
  height: 100%;
  margin: 50px 0 100px 0;
}

.modal p {
  font-size: 17px;
  margin: 0;
  line-height: 35px;
}

.modal:nth-child(1) {
  margin-top: 50px;
}

.modal:nth-child(2) {
  align-items: center;
  line-height: 30px;
}

.checkmark {
  background: url('../assets/Checkmark.png') no-repeat 50% 50%;
  background-size: 50px;
  height: 50px;
  width: 50px;
  margin:0 0 20px;
}

.modal:nth-child(2) header {
  text-align: center;
}

.modal:nth-child(2) h2 {
  margin-bottom: 20px;
}

.modal:nth-child(2) button {
  width: 70%;
}

.modal:nth-child(2) p {
  width: 60%;
  letter-spacing: .3px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}

.modal:nth-child(2) div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.modal:nth-child(3) div div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal:nth-child(2) div svg, .modal:nth-child(3) div svg {
  color: red;
  width: 40px;
  height: 30px;
}

.modal header {
  background: none;
  border: none;
  width: 100%;
  font-size: 12px;
}

span {
  font-weight: bolder;
}

.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: visible;
  position: relative;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form input {
  height: 55px;
  margin: 5px 0;
  padding: 0 10px;
}

button {
  border: none;
  background-color: #E50915;
  height: 65px;
  width: 100%;
  margin-top: 30px;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 300;
}

.modal:nth-child(3) {
  width: 950px;
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
  height: 100%;
}

.modal-3 {
  height: 70%;
}

table {
  width: 100%;
}

tr:nth-child(1) th:nth-child(n+2) div {
  height: 120px;
  width: 120px;
  background-color: #E50915;
  background-clip:border-box;
  justify-content: center;
  color: #fff;
  margin: auto;
  padding: 0 35px;
  opacity: .6;
  border-radius: 2px;
}

tr:nth-child(1) td:nth-child(1) {
  width: 40%;
}

td, th {
  padding: 25px;
  color: gray;
}

tr:nth-child(2), tr:nth-child(3), tr:nth-child(4) {
  border-bottom: 1px solid lightgray;
}

tr:nth-child(n+2) td:nth-child(n+2) {
  font-weight: bold;
  text-align: center;
}

tr:nth-child(5) svg {
  padding-left: 7px;
}

tr:nth-child(5) svg path {
  color: lightgray;
}

.modal:nth-child(3) button {
  width: 45%;
  margin: auto;
}

.modal:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
}

.modal:nth-child(4) p {
  width: 200px;
  line-height: 25px;
}

.modal:nth-child(4) button span {
  position: absolute;
  right: 20px;
  top: 11px;
  font-size: 24px;
  color: lightgray;
}

.modal:nth-child(4) button {
  background-color: #fff;
  border: 2px solid lightgray;
  color: black;
  text-align: start;
  font-size: 16px;
  padding: 0 15px;
  letter-spacing: .2px;
  position: relative;
  margin-top: 5px;
}

.modal:nth-child(4) button:first-of-type {
  margin-top: 30px;
}

.modal:nth-child(4) span p {
  font-weight: bold;
}

.modal:nth-child(4) p:first-of-type {
  margin: 15px;
}

app-footer >>> .footer, app-footer >>> footer {
  background-color: #F3F3F3 !important;
  border-bottom: none;
}

app-footer >>> .text-white, app-footer >>> .text-center {
  color: gray !important;
  font-weight: normal;
  background-color: #F3F3F3 !important;
}

app-header-top >>> .header-top {
  background-color: transparent;
  border-bottom: .5px solid lightgray;
}

.select {
  opacity: 1 !important;
  color: #E50915;
}

.select-1 {
  color: #E50915 !important;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 19px;
  left: 50%;
  margin-left: -19px;
}

.select-2 {
  border: 1px solid #E50915;
  box-shadow: .2px .2px 2.5px #E50915;
}

.arrow-box {
	position: relative;
	background: #E50915;
	border: 4px solid #E50915;
}

.arrow-box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(229, 9, 21, 0);
	border-top-color: #E50915;
	border-width: 15px;
	margin-left: -13%;
}

button[disabled] {
  opacity: .6;
}

@media only screen and (max-width: 900px) {
  tr:nth-child(1) th:nth-child(n+2) div {
    height: 90px;
    width: 90px;
    margin: auto;
  }
}