<app-header-top></app-header-top>
<div class="register-component">
  <div 
    class="modal"
    [ngClass] = "counter === 0 ? 'visible' : ''"
  >
    <header>STEP <span>1</span> OF <span>3</span></header>
    <h2>Create a password to start your membership</h2>
    <p>Just a few more steps and you're done!</p>
    <p>We hate paperwork, too.</p>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input 
        name="username" 
        type="text" 
        placeholder="Create a username"
        formControlName="username"
      />
      <p class="field-message" *ngIf="!username.valid && (username.touched || username.dirty)">
        Please type in a username.
      </p>
      <input 
        name="email" 
        type="email" 
        placeholder="Add an email"
        formControlName="email"
      />
      <div class="field-message" *ngIf="!email.valid && (email.touched || email.dirty)">
        <p class="field-message" *ngIf="email?.errors?.required">
        Please add a valid email.
        </p>
      </div>
      <input
        name="password"
        type="password"
        placeholder="Add a password"
        formControlName="password"
      />
      <div class="field-message" *ngIf="!password.valid && (password.dirty || password.touched)">
        <p class="field-message" *ngIf="password.errors?.minlength">
          Password must be 8 characters long.
        </p>
        <p class="field-message" *ngIf="!password.errors?.minlength && password.errors?.pswduppercase">
          Password must have an upper case character.
        </p>
        <p class="field-message" *ngIf="!password.errors?.minlength && !password.errors?.pswduppercase &&password.errors?.pswdnumeric">
          Password must include a number.
        </p>
        <p class="field-message" *ngIf="!password.errors?.minlength && !password.errors?.pswduppercase &&!password.errors?.pswdnumeric && password.errors?.pswdlowercase">
          Password must have a lower case character.
        </p>
        <p class="field-message" *ngIf="password.errors?.required">
          Please add a password.
        </p>
      </div>
      <input 
        name="confirm-password" 
        type="password" 
        placeholder="Confirm password"
        formControlName="confirmPassword"
        />
        <div class="field-message" *ngIf="!confirmPassword.valid && (confirmPassword.touched || confirmPassword.dirty)">
          <p class="field-message" *ngIf="confirmPassword.errors?.passwordMatch">
            Passwords must match.
          </p>
            <p class="field-message" *ngIf="confirmPassword.errors?.required">
              Please confirm your password.
            </p>
        </div>
        <button type="submit">Next</button>
      </form>
  </div>

  <div
  class="modal"
  [ngClass] = "counter === 1 ? 'visible' : ''"
  >
  <div>
    <span class="'checkmark'"></span>
  </div>
  <header>
      STEP <span>2</span> OF <span>3</span>
    </header>
    <h2>Choose your plan.</h2>
    <div>
      <svg>
        <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
          fill="currentColor"
        >
        </path>
      </svg>
      <p>No commitments, cancel anytime.</p>
    </div>
    <div>
      <svg>
        <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
          fill="currentColor"
        ></path>
      </svg>
      <p>Everything on movie app for one low price.</p>
    </div>
    <div>
      <svg>
        <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
          fill="currentColor"
        ></path>
      </svg>
      <p>Unlimited viewing on all of your devices.</p>
    </div>
    <button

    (click)="incrementCount()">Next</button>
  </div>

  <div
  class="modal"
  [ngClass] = "counter === 2 ? 'visible' : ''"
  >
  <div class="'modal-3'">
    <header>STEP <span>2</span> OF <span>3</span></header>
    <h2>Choose the plan that's right for you.</h2>
    <div>
      <svg>
        <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
          fill="currentColor"
        ></path>
      </svg>
      <p>Watch all you want. Ad-free.</p>
    </div>
    <div>
      <svg>
        <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
          fill="currentColor"
        ></path>
      </svg>
      <p>Recommendations just for you.</p>
    </div>
    <div>
      <svg>
        <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
          fill="currentColor"
        ></path>
      </svg>
      <p>Change or cancel your plan anytime.</p>
    </div>
    <table>
      <tr>
        <td></td>
        <th (click)="toggleSelect($event)"><div [ngClass]="selected === 'basic' ? 'select select-2 arrow-box' : ''">Basic</div></th>
        <th (click)="toggleSelect($event)"><div [ngClass]="selected === 'standard' ? 'select select-2 arrow-box' : ''">Standard</div></th>
        <th (click)="toggleSelect($event)"><div [ngClass]="selected === 'premium' ? 'select select-2 arrow-box' : ''">Premium</div></th>
      </tr>
      <tr>
        <td>Monthly Price</td>
        <td [ngClass]="selected === 'basic' ? 'select' : ''">$9.99</td>
        <td [ngClass]="selected === 'standard' ? 'select' : ''">$15.99</td>
        <td [ngClass]="selected === 'premium' ? 'select' : ''">$19.99</td>
      </tr>
      <tr>
        <td>Video Quality</td>
        <td [ngClass]="selected === 'basic' ? 'select' : ''">Good</td>
        <td [ngClass]="selected === 'standard' ? 'select' : ''">Better</td>
        <td [ngClass]="selected === 'premium' ? 'select' : ''">Best</td>
      </tr>
      <tr>
        <td>Resolution</td>
        <td [ngClass]="selected === 'basic' ? 'select' : ''">480p</td>
        <td [ngClass]="selected === 'standard' ? 'select' : ''">1080p</td>
        <td [ngClass]="selected === 'premium' ? 'select' : ''">4K+HDR</td>
      </tr>
      <tr>
        <td>Watch on your TV, computer, mobile phone and table</td>
        <td [ngClass]="selected === 'basic' ? 'select' : ''">
          <svg>
            <path 
              [ngClass]="selected === 'basic' ? 'select select-1' : ''" 
              fill-rule="evenodd" 
              clip-rule="evenodd" 
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
              fill="currentColor"
            ></path>
          </svg>
        </td>
        <td [ngClass]="selected === 'standard' ? 'select' : ''">
          <svg>
            <path [ngClass]="selected === 'standard' ? 'select select-1' : ''" 
              fill-rule="evenodd" 
              clip-rule="evenodd" 
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
              fill="currentColor"
            ></path>
          </svg>
        </td>
        <td [ngClass]="selected === 'premium' ? 'select' : ''">
          <svg>
            <path 
              [ngClass]="selected === 'premium' ? 'select select-1' : ''" 
              fill-rule="evenodd" 
              clip-rule="evenodd" 
              d="M8.68239 19.7312L23.6824 5.73115L22.3178 4.26904L8.02404 17.6098L2.70718 12.293L1.29297 13.7072L7.29297 19.7072C7.67401 20.0882 8.28845 20.0988 8.68239 19.7312Z" 
              fill="currentColor"
            ></path>
          </svg>
        </td>
      </tr>
    </table>
    <div class="form">
      <button (click)="incrementCount()">Next</button>
    </div>
  </div>

  </div>

  <div
  class="modal"
  [ngClass] = "counter === 3 ? 'visible' : ''"
  >
    <header>STEP <span>3</span> OF <span>3</span></header>
    <h2>Set up your payment</h2>
    <p>Your membership starts as soon as you set up payment.</p>
    <p><span>No commitments.</span></p>
    <p><span>Cancel online anytime.</span></p>
    <button>Credit or Debit Card <span>></span></button>
    <button>Paypal <span>></span></button>
    <button>Gift Code <span>></span></button>
  </div>
</div>
<footer>
  <app-footer>

  </app-footer>
</footer>
<!-- <header class="shadow">
  <app-header></app-header>
</header>
<main>
<p>register works!</p>
</main>
<footer>
  <app-footer>

  </app-footer>
</footer> -->
